<!DOCTYPE html>
<html>
<head>
<title>Free Online Mock Test for CTS/CITS Students | Online AITT Mock Test</title>
<meta name="title" content="Free Online Mock Test for CTS/CITS Students | Online AITT Mock Test">
<meta name="description" content="Learning portal for CTS/CITS students | Free online mock test for All India Trade Test preparation ">
<meta name="keywords" content="CTS Mock Test, CITS Mock Test, ITI Mock Test, Online learning Portal for CTS, CITS and ITI students.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Sachin Prajapati">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<form class="container" id="app">
  
      <input type="text" class="form-control" placeholder="name" id="uname" v-model="username" required="required" />
<br/>
      <input type="text" placeholder="roll no" v-model="roll_no" required="required"/>
  <br/>
 
    <input type="submit" class="btn btn-primary" @click="Save()" id="check" value="Save Details" />
    <button type="button" class="btn btn-default" @click="Clear()"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Clear</button>
  </div>
  
</form>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'></script>

  <script>
  new Vue({
  el: '#app',
  data: {
    username: '',
    roll_no: ''
  },

  mounted () {

    this.username = Cookies.get('username')
    this.roll_no = Cookies.get('roll_no')

  },
  methods: {

    Save () {
      Cookies.set('username', this.username, { expires: 400 })
      Cookies.set('roll_no', this.roll_no, { expires: 400 })
    },

    Clear () {
      Cookies.remove('username')
      Cookies.remove('roll_no')
      this.username = ''
      this.roll_no = ''
    }

  }
})
  </script>





</body>
</html>
