<!DOCTYPE html>
<html>
<head>
<title>Free Online Mock Test for CTS/CITS Students | Online AITT Mock Test</title>
<meta name="title" content="Free Online Mock Test for CTS/CITS Students | Online AITT Mock Test">
<meta name="description" content="Learning portal for CTS/CITS students | Free online mock test for All India Trade Test preparation ">
<meta name="keywords" content="CTS Mock Test, CITS Mock Test, ITI Mock Test, Online learning Portal for CTS, CITS and ITI students.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Sachin Prajapati">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <script type="text/javascript"> 
           function validate(){
               if (document.getElementById("uname").value == ""){
                   alert("Please enter your FULL NAME"); return false; 
               }
               if (document.getElementById("uphone").value == ""){
                   alert("Please enter your PHONE NUMBER"); return false; 
               }
               if (document.getElementById("ugen").value == ""){
                   alert("Please select your GENDER"); return false; 
               }
               if (document.getElementById("uinst").value == ""){
                   alert("Enter select your INSTITUTE"); return false; 
               }
              else {  
                       document.getElementById("check").click();
                     //  document.getElementById("reset_timer").click();
 } 
           }
        </script>

<form class="container" id="app">
  
      <input type="text" class="form-control" placeholder="name" id="uname" v-model="username" required="required" />

      <input type="email" placeholder="roll no" v-model="email" id="uphone" required="required" />
  
      <input type="text" placeholder="trade" v-model="twitter" id="ugen" required="required"  />
  
  <input type="text" placeholder="Codepen" v-model="address" id="uinst" required />

<span onclick="validate()">check details</span>

    <button type="button" class="btn btn-primary" @click="Save()" id="check"><i class="fas fa-check"></i>&nbsp;&nbsp; Save Details</button>
    <button type="button" class="btn btn-default" @click="Clear()"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Clear</button>
  </div>
  
</form>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'></script>

  <script>
  new Vue({
  el: '#app',
  data: {
    username: '',
    email: '',
    twitter: '',
    codepen: ''
  },

  mounted () {

    this.username = Cookies.get('username')
    this.email = Cookies.get('email')
    this.twitter = Cookies.get('twitter')
    this.codepen = Cookies.get('codepen')

  },
  methods: {

    Save () {
      Cookies.set('username', this.username, { expires: 400 })
      Cookies.set('email', this.email, { expires: 400 })
      Cookies.set('twitter', this.twitter, { expires: 400 })
      Cookies.set('codepen', this.codepen, { expires: 400 })
    },

    Clear () {
      Cookies.remove('username')
      Cookies.remove('email')
      Cookies.remove('twitter')
      Cookies.remove('codepen')
      this.username = ''
      this.email = ''
      this.twitter = ''
      this.codepen = ''
    }

  }
})
  </script>





</body>
</html>
